<template>
  <ElScrollbar height="calc(100vh - 80px)">
    <ElMenu router :default-active="defaultActive" :mode="mode" :collapse="collapse" :ellipsis="false"
      :uniqueOpened="uniqueOpened" :backgroundColor="backgroundColor" :textColor="textColor"
      :activeTextColor="activeTextColor" @select="handleSelect">
      <MenuBarItems :items="menuList" />
    </ElMenu>
  </ElScrollbar>
</template>

<script setup lang="ts">
import { withDefaults } from 'vue'
import MenuBarItems from './MenuBarItems.vue'
import type { MenuItem } from './types'

type Props = {
  /** 选单列表 */
  menuList: MenuItem[]
  /** 预设启用选项 */
  defaultActive?: string
  /** 选单方向 */
  mode?: 'vertical' | 'horizontal'
  collapse?: boolean
  uniqueOpened?: boolean
  backgroundColor?: string
  textColor?: string
  activeTextColor?: string
}

const props = withDefaults(defineProps<Props>(), {
  defaultActive: '',
  mode: 'vertical',
  collapse: false,
  uniqueOpened: false,
  backgroundColor: '#000',
  textColor: "#fff",
  activeTextColor: '#faf'
})

const emits = defineEmits(['select'])
function handleSelect(index: string) {
  const selectItem = findMenuItem(props.menuList, index)
  if (selectItem) {
    emits('select', selectItem)
  }
}

const findMenuItem = (items: MenuItem[], targetKey: string): MenuItem | null => {
  for (const item of items) {
    if (item.key === targetKey) {
      return item
    }

    if (item.children?.length) {
      return findMenuItem(item.children, targetKey)
    }
  }

  return null
}
</script>

<style lang="scss" scoped></style>
