<template>
  <template v-for="(item) of items">
    <template v-if="!item.children?.length">
      <ElMenuItem :index="item.key" :key="item.key" :route="{ name: item.routeTo }">
        <ElIcon v-if="item.icon">
          <Location />
        </ElIcon>
        <span>{{ item.title }}</span>
      </ElMenuItem>
    </template>
    <template v-else>
      <ElSubMenu :index="item.key" :key="item.key">
        <template #title>
          <ElIcon v-if="item.icon">{{ item.key }}</ElIcon>
          <span>{{ item.title }}</span>
        </template>
        <MenuBarItems :items="item.children" />
      </ElSubMenu>
    </template>
  </template>
</template>

<script setup lang="ts">
import { Location } from '@element-plus/icons-vue'
import MenuBarItems from './MenuBarItems.vue'
import type { MenuItem } from './types'

type Props = {
  items: MenuItem[]
}

defineProps<Props>()
</script>

<style lang="scss" scoped>
// .el-sub-menu__title {
//   background-color: blue !important;
//   border: 5px solid red;
// }
</style>
