<template>
  <div class="about flex flex-col justify-center">
    <h1>[{{ now }}]This is an about page</h1>
    <div class="font-bold">{{ $t('这是关于{name}', { name: '我' }) }}</div>
    <div>{{ system.systemConfig }}</div>
    <div>
      <div>===图片测试===</div>
      <div><el-button @click="handleSwitchPic">测试图片切换</el-button></div>
      <div><img :src="imgUrl" /></div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import dayjs from 'dayjs'
import { useSystemStore } from '@/stores'
import { getImage } from '@/utils'
// 直接载入图片, vite 来决定内容是 url 或 base64 data
import img1 from '@/assets/images/logo.png'
import img2 from '@/assets/images/Comp1/add.png'

const system = useSystemStore()
const now = ref(dayjs().format('YYYY-MM-DD'))
const flag = ref<boolean>(true)
const imgUrl = ref('')

console.log('dayjs', dayjs().format('YYYY-MM-DD'))

const handleSwitchPic = () => {
  if (flag.value) {
    // 方法一: vite决定取得图片url或base64
    // imgUrl.value = img2
    // 方法二: 把图片当模组载入, vite决定取得图片url或base64
    getImage('/Comp1/add.png').then((data) => {
      imgUrl.value = data as string
    })
  } else {
    // imgUrl.value = img
    getImage('/logo.png').then((data) => {
      imgUrl.value = data as string
    })
  }
  flag.value = !flag.value
}

// first in
getImage('/logo.png').then((data) => {
  imgUrl.value = data as string
})
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
