<template>
  <div class="flex place-items-center w-[30rem] mx-auto h-[100vh]">
    <el-container>
      <el-header>
        <h1 class="text-center">{{ 'Knock測試的後台管理系統' }}</h1>
      </el-header>
      <el-main>
        <el-form ref="formRef" :model="form" :rules="rules" status-icon>
          <el-form-item class="py-3 items-center" label="账号:" prop="id">
            <el-input size="large" type="text" maxlength="15" v-model="form.id" placeholder="请输入账号" />
          </el-form-item>
          <el-form-item class="py-3 items-center" label="密码:" prop="password">
            <el-input size="large" type="password" v-model="form.password" autocomplete="off" placeholder="请输入密码"
              show-password />
          </el-form-item>
          <el-form-item>
            <el-button v-loading.fullscreen.lock="fullscreenLoading" class="w-full" type="primary"
              @click="onSubmit(formRef)">登入</el-button>
            <!-- <el-button @click="onRegister">{{ '注册' }}</el-button> -->
          </el-form-item>
        </el-form>
      </el-main>
    </el-container>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { useRouter } from 'vue-router'
import { ElLoading, ElMessage } from 'element-plus'
import type { FormInstance, FormRules } from 'element-plus'
import { useCookies } from '@vueuse/integrations/useCookies'
import { login } from '@/api/auth'
import { useUserStore } from '@/stores'
import { RootRouteMaps } from '@/router/constants'

const { home } = RootRouteMaps
const router = useRouter()
const { setLoggingStatus } = useUserStore()
const cookies = useCookies([])
const fullscreenLoading = ref(false)
const formRef = ref<FormInstance>()
const rules = reactive<FormRules>({
  id: [
    { validator: validateInput, message: '账号仅能输入 10 ~ 20 英数字', trigger: 'blur' }
  ],
  password: [
    { validator: validateInput, message: '密码仅能输入 10 ~ 20 英数字', trigger: 'blur' }
  ]
})

const form = reactive({
  id: '',
  password: '',
})

function validateInput(rule: any, inputVal: string, callback: (error?: string | Error | undefined) => void): boolean {
  return /^[a-zA-Z0-9]{5,20}$/g.test(inputVal)
}

const onSubmit = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  const validResult = await formEl.validate(isValid => isValid)

  if (validResult) {
    fullscreenLoading.value = true
    // const res = await login({
    //   username: form.id,
    //   password: form.password
    // })
    const res = await new Promise<{ status: string, message: string, data: any }>((resolve) => {
      setTimeout(() => {
        resolve({
          status: '0000',
          message: 'Success',
          data: {
            name: 'admin'
          }
        })

      }, 3000)
    })
    fullscreenLoading.value = false

    if (res.status === "0000" && res.data) {
      cookies.set('CONSOLE_SESSION', 'fake_cookie', { path: '/' })
      setLoggingStatus(true)
      router.push({ name: home.name })
    } else {
      ElMessage.error(res.message)
    }
  }
}
</script>
