<template>
  <el-container>
    <el-header class="flex flex-row items-center justify-between">
      <div class="p-5 text-center">Knock後台管理系統</div>
      <div>
        <span>登入状态: {{ JSON.stringify(userStore.user.isLogged) }}</span>
        <span><el-button v-loading.fullscreen.lock="logoutLoading" @click="handleLogout">登出</el-button></span>
      </div>
    </el-header>
    <el-container>
      <el-aside width="10rem">
        <MenuBar :menu-list="menuList" :default-active="defaultActive.key" />
      </el-aside>
      <el-main>
        <router-view>
          <template #default="{ Component, route }">
            <keep-alive :max="0">
              <component :is="Component" :key="route.fullPath" />
            </keep-alive>
          </template>
        </router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ElMessage } from 'element-plus'
import { PublicMenuList, getFlatMenuItems } from '@/constants/mainMenu'
import { MenuBar } from '@/components/Menu'
import type { MainMenuItem } from '@/components/Menu'
import { RootRouteMaps } from '@/router'
import { useUserStore } from '@/stores'
import { StatusCode } from '@/api/constants'
import { logout } from '@/api/auth'

const { home, login } = RootRouteMaps
const logoutLoading = ref(false)
const router = useRouter()
const userStore = useUserStore()

const menuList = computed<MainMenuItem[]>(() => PublicMenuList.concat(userStore.user.privateMenu))
const defaultActive = computed<MainMenuItem>(() => {
  const allMenuItems = getFlatMenuItems(menuList.value)
  let defaultMenuItem = allMenuItems[0]
  // find the specified route if exist
  if (router.currentRoute.value.name !== home.name) {
    const route = allMenuItems.find(item => item.routeTo === router.currentRoute.value.name)
    defaultMenuItem = route ?? defaultMenuItem
  }
  return defaultMenuItem
})

// redirect to default route when into 'home' route at first time
if (router.currentRoute.value.name === home.name && defaultActive.value.routeTo) {
  router.push({ name: defaultActive.value.routeTo })
}

const handleLogout = async () => {
  // logout flow
  logoutLoading.value = true
  //const res = await logout()
  const res = await new Promise<{ status: string, message: string }>((resolve) => {
      setTimeout(() => {
        resolve({ status: '0000', message: 'Success' })
      }, 1000)
    })
  logoutLoading.value = false
  if (res.status === StatusCode.Success) {
    userStore.setLoggingStatus(false)
    router.push({ name: login.name })
  } else {
    ElMessage.error(res.message)
  }
}
</script>

<style lang="scss" scoped></style>
