<template>
  <div>this is test 2</div>
</template>

<script setup lang="ts">
import { } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()
console.log('route', route.params)

//const route1 = router.resolve({ name: 'layer2', params: { layer2: ['zh-tw']}})
//console.log('[router]', router.resolve({ name: 'layer2', params: { layer2: ['zh-tw']}}))
//router.push(route1);
</script>