<template>
  <div>This is Test Comp</div>
  <div id="t1">
    <div class="w-full">Content</div>
    <el-date-picker :disabled="disableDatePicker" v-model="date" type="date" placeholder="Pick a day" :size="size" />
  </div>
  <el-button @click="toast">click me!!!</el-button>
  <div>{{ $t('测试') }}</div>

  <div class="flex flex-col">
    <el-row :gutter="24">
      <el-col>
        <p class="title">测试按钮主题色：</p>
      </el-col>
      <el-col>
        <el-button type="primary">primary 按钮</el-button>
        <el-button type="success">success 按钮</el-button>
        <el-button type="danger">danger 按钮</el-button>
        <el-button type="info">info 按钮</el-button>
        <el-button type="warning">warning 按钮</el-button>
      </el-col>
    </el-row>
  </div>
  <div>
    <div>跑马灯测试:</div>
    <marquee-comp pause-on-hover :duration="10">
      <div v-for="text in marqueeTextList" :key="text">{{ text }}</div>
    </marquee-comp>
  </div>
</template>
<script setup lang="ts">
import { ref, effect } from 'vue'
import { ElMessage } from 'element-plus'
import { useI18n } from 'vue-i18n'
import MarqueeComp from '@/components/common/MarqueeComp.vue'


const marqueeTextList = ['1.跑马灯公告讯息一', '2.跑马灯公告讯息二', '3.跑马灯公告讯息三', '4.跑马灯公告讯息四', '5.跑马灯公告讯息五']
const { t } = useI18n()
const size = ref<'default' | 'large' | 'small'>('default')
const disableDatePicker = ref(true)
const date = ref('2023-04-18')

console.log('i18n', t('测试'))

const toast = () => {
  disableDatePicker.value = !disableDatePicker.value
  ElMessage.success('Hello')
}

effect(() => {
  console.log('init Test Comp done')
})
</script>

<style scoped lang="scss">
#t1 {
  div {
    border: 1px solid red;
    color: blue;
  }
}
</style>
