@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    place-items: center;
  }
} */
