<template>
  <AppHeader />
  <AppMain />
  <AppFooter />
</template>

<script setup lang="ts">
import AppMain from '@/layouts/AppMain.vue'
import AppHeader from '@/layouts/AppHeader.vue'
import AppFooter from '@/layouts/AppFooter.vue'
</script>

<style scoped></style>
